<div class="bg-success d-flex half-pipe-top py-4"><%= image_tag("cunha_main.png",size: "40x40",class: "mx-3 ms-4") %><h1 class="display-5"><strong>Deep Elevation Wedges</strong></h1></div>
<div class="main-content">
  <div class="mt-4 mx-4">
    <div class="row justify-content-between">
      <div class="col-sm-12 col-lg-8 mb-3">
        <div class="row overflow-hidden">
          <div class="col-12 container bg-success cunha-round container-inline border border-info border-4 py-3 px-3 fs-5">
            <u>Novidade no Brasil!</u> As cunhas de elevação são anatômicas e desenhadas para auxiliar no processo de cementar coroas e preencher cavidades.
          </div>
          <div class="col-12 my-4"></div>
          <div id="desktop-marquee" class="col-12 mt-4 pt-5" >
              <div class="embla justify-content-center" data-controller="marquee">
                <div class="embla__container d-flex">
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-info py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Veja o produto!
                      </button>
                    </div>
                  </div>
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-primary py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Mais informações!
                      </button>
                    </div>
                  </div>
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-info py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Veja o produto!
                      </button>
                    </div>
                  </div>
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-primary py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Mais informações!
                      </button>
                    </div>
                  </div>
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-info py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Veja o produto!
                      </button>
                    </div>
                  </div>
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-primary py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Mais informações!
                      </button>
                    </div>
                  </div>
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-info py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Veja o produto!
                      </button>
                    </div>
                  </div>
                  <div class="embla__slide">
                    <div class="badge cunha-desktop p-2 d-grid">
                      <button class="btn rounded-pill border border-success border-4 bg-primary py-4 fs-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Mais informações!
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div id="carousel" class="carousel slide">
          <div class="carousel-inner cunha-round border border-info border-4">
            <div class="carousel-item active">
              <%= image_tag("exemplo_sem_cunha.webp", class:"img-fluid d-block") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("exemplo_com_cunha.webp", class:"img-fluid d-block") %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="mobile-marquee" class="mt-4 my-2 px-4" >
    <div class="embla justify-content-center" data-controller="marquee">
      <div class="embla__container d-flex">
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-info py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Veja o produto!
            </button>
          </div>
        </div>
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-primary py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Mais informações!
            </button>
          </div>
        </div>
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-info py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Veja o produto!
            </button>
          </div>
        </div>
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-primary py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Mais informações!
            </button>
          </div>
        </div>
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-info py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Veja o produto!
            </button>
          </div>
        </div>
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-primary py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Mais informações!
            </button>
          </div>
        </div>
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-info py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Veja o produto!
            </button>
          </div>
        </div>
        <div class="embla__slide">
          <div class="badge cunha p-2 d-grid">
            <button class="btn rounded-pill border border-success border-4 bg-primary py-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Mais informações!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    </div>
    <div class="offcanvas-body align-middle">
      <div class="row justify-content-end mx-3">
        <button type="button" class="btn-close rounded-pill bg-primary" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="bg-success cunha-round border border-primary border-4 p-3 mt-4 mx-4 fs-6">
        <div class="row align-middle">
          <div class="col-sm-12 col-lg-9">
            <ul>
              <div class="my-1"><strong>Quando cementando coroas:</strong></div>
              <li>As cunhas afastam os dentes temporariamente para facilitar qualquer trabalho.</li>
              <li>As cunhas bloqueiam o espaço entre os dentes, impedindo que cimento se agrupe em caroços. </li>
              <li>As cunhas impedem infiltração de cemento na gengiva.</li>
            </ul>
            <ul class="mt-4">
              <div class="my-1"><strong>Quando preenchendo cavidades:</strong></div>
              <li>As cunhas vão a fundo no espaço entre dentes e sua superfície lisa e curvada pode substituir uma matriz.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-bottom position-relative bg-success half-pipe-bottom p-4 mt-5">
  <div class="position-absolute bg-info top-0 end-0 translate-middle rounded-pill p-3">
    <%= link_to "https://wa.me/5511970220015?text=Oi!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20cunha" do %>
      <%= image_tag("whatsapp_logo.png",size: "28x28") %>
    <% end %>
  </div>
  about e whatsapp
</div>
